.color-instruction > div {
    position: relative;
    margin: 1rem;
}

.color-instruction > div::before {
  content:'';
  display:block;
  width:40px;
  height:40px;
  position: absolute;
  left: -3rem;
}

.dateDuJour::before {
   background-color: #fffadf;
}

.initiale::before {
  background-color: #FEDD00;
}

.conge-valide::before {
    background-color:#35FDBE;
}

.rtt-valide::before  {
    background-color:#DCFF00;
}

.en-attente::before{
    background-color:#2B1B7B;
}

.refuse::before{
    background-color:#BF1F59;
}

.form{
    z-index: 3;
}

.layer-seperator{
  z-index: 4;
  width: 100%;

}

::ng-deep .fc-daygrid-day-frame {
  cursor: pointer;
}


