<section class="container py-5 ">

  <div class="d-flex justify-content-center">
    <button (click)="changeMonth(-1)" class="btn btn-outline-black h-25 align-self-center"><i
        class="bi bi-caret-left-fill"></i></button>
    <p class="m-3 h5" #month>{{ getMonthName(currentMonth)}}</p>
    <button (click)="changeMonth(1)" class="btn btn-outline-black h-25 align-self-center"><i
        class="bi bi-caret-right-fill"></i></button>
  </div>


  <div class="row justify-content-end mb-3">
    <div class="col-3 ">
      <select id="year" name="year" #year class="form-select mb-1" [(ngModel)]="currentYear2">
        <option *ngFor="let annee of annees" [ngValue]="annee" (click)="changeCurrentYear(year.value)">{{ annee }}
        </option>
      </select>

      <select #departementId class="form-select">
        <option *ngFor="let departement of departements" [value]="departement.id"
          (click)="employeByDepartement(departementId.value)" [defaultSelected]="departementGeneral">
          {{departement.name}}</option>
      </select>

    </div>
  </div>


  <table>
    <thead>
      <tr>
        <th>name</th>
        <th *ngFor="let label of lineChartLabels2">{{ label }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let dataset of lineChartData; let i = index">
        <tr>
          <td>{{ dataset.label }}</td>
          <td *ngFor="let value of dataset.data; let j = index">
            <span *ngIf="value === 1 && !isWeekEnd(lineChartLabels[j]) && !isJourOff(lineChartLabels[j]) ">C</span>
            <span *ngIf="value === 0 && !isWeekEnd(lineChartLabels[j]) && !isJourOff(lineChartLabels[j])">&nbsp;</span>
            <span *ngIf=" isWeekEnd(lineChartLabels[j])">t</span>
            <span *ngIf=" isJourOff(lineChartLabels[j])">R</span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <button (click)="exportToExcel()" class="btn btn-outline-black mt-4 mb-2 ">
      <i class="bi bi-file-earmark-arrow-down">Télécharger au format Exel</i>
    </button>
  </div>
</section>