<p>absence-form works!</p>
<form action="">
    <div>
        <label for="start">Start date:</label>
        <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
    </div>
    <div>
        <label for="start">End date:</label>
        <input type="date" id="end" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
    </div>
    <div class="type">
        <label for="type-select">Choose a type:</label>
        <select name="pets" id="type-select">
            <option value="">--Please choose an option--</option>
            <option value="Congés payés">Congés payés</option>
            <option value="RTT">RTT</option>
            <option value="Congés sans solde">Congés sans solde</option>
        </select>
    </div>
    <div class="motif">
        <label for="story">Motif:</label>
        <textarea id="story" name="story" rows="3" cols="33"></textarea>
    </div>
</form>