<div class="row">
  <div class="col d-flex align-content-center">
    <select aria-label="Large select example" class="form-select form-select-md mb-3 w-25">
      <option selected>Affichage</option>
      <option value="1">Tableau</option>
      <option value="2">Histogramme</option>
    </select>
  </div>
  <div class="col d-flex align-content-center justify-content-end">
    <select aria-label="Large select example" class="form-select form-select-md mb-3 w-25">
      <option selected>Année</option>
      <option value="1">2023</option>
      <option value="2">2022</option>
      <option value="3">2021</option>
    </select>
    <select aria-label="Large select example" class="form-select form-select-md mb-3 w-25">
      <option selected>Mois</option>
      <option value="1">Janvier</option>
      <option value="2">Février</option>
      <option value="3">Mars</option>
    </select>
  </div>
</div>
